:root {
    --negro2: #393939;
    --blanco2: #ececec;
    --marcado: rgb(127, 195, 255);
    --primario_2: #00335a;
    --secundario_2: #1C82AD;
    --terceario_2: #03C988;
  }
  @media (prefers-color-scheme: dark) {
    :root {
      --negro2: #ececec;
      --blanco2: #323232;
      --primario_2: #00338b;
      --secundario_2: #1C82AD;
      --terceario_2: #03C988;
    }
  }
li {
    list-style: none;
}
.carrusel {
    width: 50%;
    height: 70%;
    max-width: 100%;
    color: var(--negro2);
    transition: all 0.4s ease;
    background-color: #111a;
    overflow: hidden;
    margin: 1em;
    border-bottom: 2px solid var(--negro2);
    box-shadow: 0px 0px 20px 0px #111;
}
.imagenes {
    width: 500%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    color: var(--negro2);
    transition: all 0.4s ease;
    background-color: var(--blanco2);
    transition: all 0.5s ease;
    transform: translateX(0%);
  }
  
  .imagenes img {
    width: calc( 100% / 5);
    height: 48vmin;
    object-fit: cover;
    object-position: center;
    color: var(--negro2);
    transition: all 0.4s ease;
    background-color: var(--blanco2);
}

.carrusel .puntos {
    width: 100%;
    height: 20%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
  }  
  .carrusel .punto {
    width: 1em;
    height: 1em;
    margin: 0em .8em 1rem;
    color: var(--negro2);
    transition: all 0.4s ease;
    border-radius: 1em;
    background-color: var(--blanco2);
    border: 1px solid var(--negro2);
    box-shadow: 0.6em 0.6em 1.2em var(--sombra-ppal), -0.6em -0.6em 1.2em var(--sombra-sec), inset 0 0 0 transparent, inset 0 0 0 transparent;
  }
  
  .carrusel .punto.activo {
    background-color: var(--negro2);
  }
@media (max-width:740px) {
    .carrusel {
        width: 80%;
        height: 100%;
    }
    .imagenes img {
        width: calc( 100% / 5);
        height: 44vmin;
        color: var(--negro2);
        transition: all 0.4s ease;
        background-color: var(--blanco2);
      }
}
@media (max-width:520px) {
    .carrusel {
        width: 80%;
        height: 100%;
    }
    .imagenes img {
        width: calc( 100% / 5);
        height: 58vmin;
        color: var(--negro2);
        transition: all 0.4s ease;
        background-color: var(--blanco2);
      }
}